h1{
    text-align: center;
    margin-top: 5%;
    font-size: 2.3rem;
}
body{
    background-color: rgb(204, 188, 214);
    text-align: center;
    margin-top: 5%;

}
h2{
    text-align: center;
    size: 1rem
}

div{
    text-align: center;
    background-color: rgb(246, 227, 255);
    margin-left: -1rem;
}

